.image {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 1rem;
}

.title {
  width: 80vw;
  margin-top: 1rem;
  letter-spacing: 1px;
  background: rgb(236, 236, 236);
  outline: 1px solid lightgrey;
  padding: 0.1rem;
}
.app-image {
  width: 34%;
  border-top: 2px solid rgb(197, 197, 197);
  border-radius: 10px;
  margin-bottom: 0.7rem;
  opacity: 0.8;
  cursor: pointer;
  transition: all 1s ease;
}

.app-image:hover {
  transform: scaleX(1.1);
  opacity: 1;
}

.explanation {
  width: 80vw;
  text-align: justify;
  margin: 0 auto;
  background: rgb(236, 236, 236);
  font-size: 0.8rem;
  opacity: 0.8;
  padding: 0.5rem 0.5rem;
}

.copyright {
  transform: translateY(-1rem);
  font-size: 0.7rem;
}

.btn {
  display: grid;
  margin: 0.7rem auto;
  padding: 0.1rem 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: lightgrey;
  cursor: pointer;
  transition: all 1.5s ease;
}

.btn:hover {
  transform: translateY(0.3rem);
}

.loading img {
  display: grid;
  margin: 5rem auto;
}

@media only screen and (max-width: 800px) {
  .app-image {
    width: 60%;
  }
}
