header {
  background: whitesmoke;
  border-bottom: 3px solid lightgrey;
}

.header-img {
  display: grid;
  width: 13%;
  margin: 0 auto;
  padding: 0.2rem;
}

@media only screen and (max-width: 800px) {
  .header-img {
    width: 40%;
  }
}
